:root {
  --bg-color: #fefefc;
  --text-color: #0c0c0c;
  --accent: #fc9220;
  --grey: #d1d5db;
  --font-body: "Montserrat", "Helvetica Neue", sans-serif;
}

/* #FCEAC5 
 #fdf4eb
  --accent-color: #e35b00;
  "Helvetica Neue", "Montserrat"

#361f07 brown
#fc9220 orange
#fec676 light orange
#fffacc off white
#253021 off black

#fdfdfd white
#1a1a1a black


f6d4ba light orange
fefadc off white
feea00 yellow
3f612d green
*/
