:root {
  --bg-color: #fdfdfd;
  --text-color: #1a1a1a;
  --accent-color: #161615;
  --font-body: "Helvetica Neue", sans-serif;
}

/* #FCEAC5 
 #fdf4eb
  --accent-color: #e35b00;
  "Helvetica Neue", "Montserrat"

*/
