@font-face {
  font-family: "IBM Plex Mono";
  src: url("../../assets/fonts/IBMPlexMono-Regular.woff2") format("woff2"),
    url("../../assets/fonts/IBMPlexMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-weight: 200;
  src: url("../../assets/fonts/poppins-extralight-webfont.woff2")
    format("woff2");
  src: url("../../assets/fonts/poppins-extralight-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 200;
  font-style: italic;
  src: url("../../assets/fonts/poppins-extralightitalic-webfont.woff2")
    format("woff2");
  src: url("../../assets/fonts/poppins-extralightitalic-webfont.woff")
    format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 300;
  src: url("../../assets/fonts/poppins-light-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-light-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 300;
  font-style: italic;
  src: url("../../assets/fonts/poppins-lightitalic-webfont.woff2")
    format("woff2");
  src: url("../../assets/fonts/poppins-lightitalic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("../../assets/fonts/poppins-black-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-black-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: italic;
  src: url("../../assets/fonts/poppins-italic-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-italic-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url("../../assets/fonts/poppins-medium-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-medium-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: italic;
  src: url("../../assets/fonts/poppins-mediumitalic-webfont.woff2")
    format("woff2");
  src: url("../../assets/fonts/poppins-mediumitalic-webfont.woff")
    format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url("../../assets/fonts/poppins-bold-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-bold-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-style: italic;
  src: url("../../assets/fonts/poppins-bolditalic-webfont.woff2")
    format("woff2");
  src: url("../../assets/fonts/poppins-bolditalic-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 800;
  src: url("../../assets/fonts/poppins-extrabold-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-extrabold-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 900;
  src: url("../../assets/fonts/poppins-black-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-black-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 900;
  font-style: italic;
  src: url("../../assets/fonts/poppins-blackitalic-webfont.woff2")
    format("woff2");
  src: url("../../assets/fonts/poppins-blackitalic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Lexend";
  src: url("../../assets/fonts/Lexend-Light.woff2") format("woff2"),
    url("../../assets/fonts/Lexend-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../../assets/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-BoldItalic.woff2") format("woff2"),
    url("../../assets/fonts/Montserrat-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Italic.woff2") format("woff2"),
    url("../../assets/fonts/Montserrat-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-ExtraLightItalic.woff2")
      format("woff2"),
    url("../../assets/fonts/Montserrat-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-ExtraLight.woff2") format("woff2"),
    url("../../assets/fonts/Montserrat-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Light.woff2") format("woff2"),
    url("../../assets/fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-LightItalic.woff2") format("woff2"),
    url("../../assets/fonts/Montserrat-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../../assets/fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-MediumItalic.woff2") format("woff2"),
    url("../../assets/fonts/Montserrat-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../../assets/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-SemiBoldItalic.woff2") format("woff2"),
    url("../../assets/fonts/Montserrat-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("../../assets/fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Thin.woff2") format("woff2"),
    url("../../assets/fonts/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-ThinItalic.woff2") format("woff2"),
    url("../../assets/fonts/Montserrat-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Domine";
  src: url("../../assets/fonts/Domine-Bold.woff2") format("woff2"),
    url("../../assets/fonts/Domine-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Domine";
  src: url("../../assets/fonts/Domine-SemiBold.woff2") format("woff2"),
    url("../../assets/fonts/Domine-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Domine";
  src: url("../../assets/fonts/Domine-Regular.woff2") format("woff2"),
    url("../../assets/fonts/Domine-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Domine";
  src: url("../../assets/fonts/Domine-Medium.woff2") format("woff2"),
    url("../../assets/fonts/Domine-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
