@use "./fonts" as *;

//Breakpoints
$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$laptop-breakpoint: 1024px;
$desktop-breakpoint: 1200px;

//Colors
$bg-color: #fffaed;
$black: #0c0c0c;
$orange: #c44d00;
$grey: #555;
$light-grey: #d1d5db;

//Fonts
$font-primary: "Poppins", sans-serif;
$font-primary-weights: (
  extra-light: 200,
  extra-light-italic: 200,
  light: 300,
  light-italic: 300,
  regular: 400,
  italic: 400,
  medium: 500,
  medium-italic: 500,
  bold: 700,
  bold-italic: 700,
  extra-bold: 800,
  black: 900,
  black-italic: 900,
);

$font-secondary: "Montserrat";
$font-secondary-weights: (
  thin: 100,
  extra-light: 200,
  light: 300,
  light-italic: 300,
  regular: 400,
  medium: 500,
  semi-bold: 600,
);

$font-third: "Lexend";
$font-third-weights: (
  thin: 300,
);

$font-fourth: "IBM Plex Mono";
$font-fourth-weights: (
  regular: 400,
);
