@use "./partials/resets" as *;
@use "./partials/variables" as *;
@use "./partials/fonts" as *;
@use "./partials/mixins" as *;
@use "sass:map";

body {
  font-family: $font-secondary;
  font-weight: map.get($font-secondary-weights, regular);
  background-color: $bg-color;
  color: $black;
}

a {
  text-decoration: none;
  color: $black;
}

a:hover {
  text-decoration: none;
  color: $orange;
}

.header {
  padding: 3rem;
  font-family: $font-primary;
  font-weight: map.get($font-primary-weights, light);

  &__content {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-weight: map.get($font-primary-weights, light);
    margin-bottom: 2rem;
    color: $orange;

    a {
      text-decoration: none;
      color: $orange;
    }
  }

  &__nav {
    display: flex;
    gap: 4rem;
    margin-bottom: 2rem;
  }

  &__link {
    margin-top: 0.5rem;
    font-weight: map.get($font-primary-weights, light);
    font-size: 1.5rem;
  }

  &__cv-btn {
    font-weight: map.get($font-primary-weights, medium);
    color: $bg-color;
    background-color: $orange;
    border: solid 1px $orange;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
      color: $orange;
      background-color: $bg-color;
    }
    &.active {
      color: $orange;
      background-color: $bg-color;
    }
  }
}

.hero {
  max-width: 1200px;
  margin: 0 auto;
  font-size: 1.3rem;

  &__headshot {
    margin-bottom: 1rem;
    height: 25rem;
    width: auto;
    border-radius: 1rem;
  }

  &__container {
    display: flex;
    gap: 2rem;
    padding: 3rem;
  }

  /*   &__section {
    border: solid red;
  } */
}

.expandedcv {
  &__skills {
    margin-bottom: 8rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  &__designcontainer,
  &__devcontainer {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__icon {
    width: 30px;
  }

  &__iconscontainer {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
}

.cv {
  /*   max-width: 900px; */
  font-size: 1.2rem;
  /*   margin: 0 auto; */
  padding: 3rem;

  &__entry {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
  }

  &__edate {
    margin: 0;
    color: $grey;
    flex: 1;
    width: fit-content;
  }

  &__etitle {
    margin: 0;
    text-align: right;
    flex: 1;
    color: $grey;
  }

  &__educationcontainer {
    margin-top: 2rem;
  }
}

.experience {
  &__container1,
  &__container2 {
    margin-bottom: 2rem;
    display: flex;
    gap: 1rem;
  }

  &__title {
    text-align: right;
  }
}

footer {
  margin: 3rem 0;
  text-align: center;
  padding: 2rem;
  font-size: 0.875rem;
  color: #888;
}
