@use "./partials/resets" as *;
@use "./partials/variables" as *;
@use "./partials/fonts" as *;
@use "./partials/mixins" as *;
@use "sass:map";

body {
  font-family: $font-secondary;
  font-weight: map.get($font-secondary-weights, regular);
  background-color: $bg-color;
  color: $black;
}

a {
  text-decoration: none;
  color: $black;
}

a:hover {
  text-decoration: none;
  color: $orange;
}

.header {
  padding: 1.5rem;
  font-family: $font-primary;
  font-weight: map.get($font-primary-weights, light);

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  &__title {
    font-weight: map.get($font-primary-weights, light);
    margin: 0;
    color: $orange;

    a {
      text-decoration: none;
      color: $orange;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  &__link {
    font-weight: map.get($font-primary-weights, light);
    font-size: 1.25rem;
  }

  &__cv-btn {
    font-weight: map.get($font-primary-weights, medium);
    color: $bg-color;
    background-color: $orange;
    border: solid 1px $orange;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
      color: $orange;
      background-color: $bg-color;
    }
    &.active {
      color: $orange;
      background-color: $bg-color;
    }
  }

  @include tablet {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    max-width: 1200px;
    margin: 0 auto;

    &__content {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &__link {
      font-size: 1.5rem;
    }

    &__nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 3rem;
    }
  }
}

.hero {
  max-width: 1200px;
  margin: 0 auto;
  font-size: 1rem;
  padding: 2rem;

  &__headshot {
    width: 80%;
    max-width: 25rem;
    height: auto;
    border-radius: 1rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  @include tablet {
    font-size: 1.3rem;

    &__container {
      flex-direction: row;
      align-items: flex-start;
      text-align: left;
    }

    &__headshot {
      height: 25rem;
      width: auto;
    }
  }
}

.expandedcv {
  &__skills {
    margin-bottom: 8rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  &__designcontainer,
  &__devcontainer {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__icon {
    width: 30px;
  }

  &__iconscontainer {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
}

.cv {
  font-size: 0.9rem;
  padding-top: 2rem;

  &__entry {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
    text-align: left;
    justify-content: space-between;
  }

  &__edate {
    margin-bottom: 0.5rem;
    color: $grey;
  }

  &__etitle {
    margin: 0;
    color: $grey;
  }

  &__educationcontainer {
    margin-top: 2rem;
  }

  @include tablet {
    font-size: 1.3rem;

    &__entry {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
    }

    &__edate {
      flex: 1;
      text-align: left;
    }

    &__etitle {
      flex: 1;
      text-align: right;
    }
  }
}

.experience {
  &__container1,
  &__container2 {
    margin-bottom: 2rem;
    display: flex;
    gap: 1rem;
  }

  &__title {
    text-align: right;
  }
}

footer {
  margin: 3rem 0;
  text-align: center;
  padding: 2rem;
  font-size: 0.875rem;
  color: #888;
}
