@use "./partials/resets" as *;
@use "./partials/variables" as *;
@use "./partials/fonts" as *;
@use "./partials/mixins" as *;
@use "sass:map";

body {
  font-family: $font-third;
  font-weight: 350;
  background-color: #ffff;
  color: #767676;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a:hover {
  color: $orange;
  font-style: italic;
}

.header {
  padding: 1rem;
  font-size: 0.625rem;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    gap: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #ccc;
  }

  &__wordmark {
    font-family: $font-primary;
    font-weight: 500;
    color: $black;
    text-decoration: none;
    white-space: nowrap;
    flex-shrink: 0;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }

  &__tagline,
  &__link {
    font-family: $font-fourth;
    font-weight: 400;
    text-decoration: none;
  }

  &__tagline {
    white-space: nowrap;
    overflow: hidden;
    position: relative;

    & ::before,
    &::after {
      position: absolute;
      top: 0;
      width: 2rem;
      height: 100%;
      pointer-events: none;
      z-index: 1;
    }

    &::before {
      left: 0;
      background: linear-gradient(
        to right,
        #f2f2f2 0%,
        rgba(255, 255, 255, 0) 100%
      );
    }

    &::after {
      right: 0;
      background: linear-gradient(
        to left,
        #f2f2f2 0%,
        rgba(255, 255, 255, 0) 100%
      );
    }

    span {
      display: inline-block;
      padding-left: 100%;
      animation: marquee 14s linear infinite;
    }
  }

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .header__tagline span {
      animation: none;
      padding-left: 0;
    }
  }

  @include tablet {
    padding: 1rem;

    &__content {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &__link,
    &__tagline,
    &__wordmark {
      font-size: 0.875rem;
    }

    &__nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 3rem;
    }

    &__tagline {
      overflow: visible;

      &::before,
      &::after {
        display: none;
      }

      span {
        animation: none;
        padding-left: 0;
        transform: none;
      }
    }
  }
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;

  &__img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
  }
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #e35b00; /* Set a background color */
  opacity: 100%;
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  /*   background-color: #555; */
  opacity: 100%;
}

.hero {
  max-width: 100%;
  padding: 1.5rem 1.5rem 0 1.5rem;

  &__section {
    margin: 4rem auto 2rem auto;
    text-align: left;
  }

  &__title {
    font-size: 2rem;
    font-weight: 400;
    color: $black;
  }

  &__oneLiner {
    font-size: 1.75rem;
    font-weight: 300;
    color: #646866;
    padding-bottom: 2rem;
  }

  @media (min-width: 768px) {
    max-width: 1200px;
    margin: 0 auto;

    &__title {
      font-size: 2.125rem;
    }

    &__oneLiner {
      font-size: 1.75rem;
      width: 55ch;
    }
  }
}

.overview {
  &__section {
    margin: 2rem auto;
    max-width: 100%;
  }

  &__subtitle {
    font-size: 1.75rem;
    font-weight: 300;
    color: $black;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }

  &__container {
    flex: 1 1 40%;
    min-width: 18.75rem;
  }

  &__title {
    font-size: 0.6875rem;
    color: $black;
    letter-spacing: 0.08rem;
    margin-top: 0;
  }

  .arrow-icon {
    vertical-align: middle;
  }

  &__body {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    line-height: 1.6;
  }

  @media (min-width: 768px) {
    max-width: 1200px;
    margin: 0 auto;

    &__subtitle {
      font-size: 1.75rem;
    }

    &__wrapper {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 0 4rem;
    }

    &__container {
      flex: 1 1 40%;
      min-width: 18.75rem;
    }

    &__title {
      font-size: 0.6875rem;
    }
  }
}

.context {
  &__section {
    margin: 2rem auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 2rem;
  }
  &__textWrapper {
    flex: 1;
  }

  &__title {
    font-size: 1.75rem;
    font-weight: 300;
    color: $black;
  }

  //
  &__container {
    flex: 1 1 40%;
    min-width: 18.75rem;
  }

  &__body {
    font-size: 1rem;
    line-height: 1.6;
    margin-top: 0.8rem;
  }

  @media (min-width: 768px) {
    max-width: 1200px;
    margin: 0 auto;

    &__title {
      font-size: 1.75rem;
      font-weight: 400;
      color: $black;
    }

    &__container {
      flex: 1 1 40%;
      min-width: 18.75rem;
    }

    &__body {
      font-weight: 350;
    }
  }
}

.background {
  &__section {
    margin: 2rem auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
  }

  &__textWrapper {
    flex: 1;
  }

  &__title {
    font-size: 1.75rem;
    font-weight: 300;
    color: $black;
    padding-bottom: 0.5rem;
  }

  &__body {
    font-size: 1rem;
    line-height: 1.6;
    margin-top: 0.8rem;
  }

  &__img {
    width: 120%;
    height: auto;
    display: block;
  }

  &__caption {
    font-family: $font-fourth;
    font-weight: 500;
    font-size: 0.875rem;
    font-style: italic;
    padding-top: 1rem;
    text-align: center;
  }

  &__imgWrapper {
    flex: 1;
    overflow: visible;
  }

  @media (min-width: 768px) {
    &__section {
      flex-direction: row;
      align-items: flex-start;
    }

    &__textWrapper {
      margin-top: 4rem;
    }
  }
}

.objectives {
  &__section {
    margin: 2rem auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 2rem;
  }

  &__textWrapper {
    flex: 1;
  }

  &__title {
    font-size: 1.75rem;
    font-weight: 400;
    color: $black;
  }

  &__body {
    font-size: 1rem;
    line-height: 1.6;
    margin-top: 0.8rem;
  }

  &__img {
    width: 120%;
    height: auto;
    display: block;
  }

  &__caption {
    font-family: $font-fourth;
    font-weight: 500;
    font-size: 0.875rem;
    font-style: italic;
    padding-top: 1rem;
    text-align: center;
  }

  &__imgWrapper {
    flex: 1;
    overflow: visible;
  }

  @media (min-width: 768px) {
    &__section {
      flex-direction: row;
      align-items: flex-start;
    }

    &__textWrapper {
      margin-top: 4rem;
    }
  }
}

.finaldesign {
  padding-top: 2rem;
  &__inner {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__title {
    font-size: 1.75rem;
    font-weight: 400;
    color: $black;
    padding-bottom: 2rem;
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 0rem;
  }

  &__orange {
    background-color: $orange;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    padding: 4rem 0;
  }

  &__imgcontainer1 {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
  }
  &__imgcontainer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    width: 48%;
    max-width: 520px;
  }
  &__img3 {
    /*     width: 80%;
    max-width: 600px; */
    max-width: 900px;
  }

  &__noorange {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 4rem;
  }
  &__noorange2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem;
  }

  &__callouts_container {
    display: flex;
    gap: 10rem;
  }

  &__callouts_caption {
    margin-top: 6rem;
    font-family: $font-fourth;
    font-weight: 500;
    width: 40ch;
  }

  &__gallery_container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: 80vh;
    overflow: hidden;
  }

  &__gallery_img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding-top: 2rem;
  }

  &__gallery_img.is-active {
    opacity: 1;
  }

  &__gallery_controls {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
    margin-top: 1rem;
  }

  .dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    background: #e08033;
    cursor: pointer;
  }

  .dot.is-active {
    background: $orange;
  }
}

.impact {
  margin: 2rem auto;
  max-width: 1200px;

  &__section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 0;
  }

  &__textWrapper {
    flex: 1;
  }

  &__title {
    font-size: 1.75rem;
    font-weight: 400;
    color: $black;
  }

  &__body {
    font-size: 1rem;
    line-height: 1.6;
    margin-top: 0.8rem;
  }

  &__img {
    width: 120%;
    height: auto;
    display: block;
  }

  &__caption {
    font-family: $font-fourth;
    font-style: italic;
    font-weight: 500;
    font-size: 0.875rem;
    padding-top: 1rem;
    text-align: center;
  }

  &__imgWrapper {
    flex: 1;
    overflow: visible;
  }

  @media (min-width: 768px) {
    &__section {
      flex-direction: row;
      align-items: flex-start;
    }

    &__body {
      width: 50ch;
    }
  }
}

.footer {
  padding: 0 1rem;

  &__content {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-family: $font-fourth;
    font-size: 0.75rem;
    color: #888;
    border-top: solid 2px #ccc;
  }

  &__topbtn {
    color: #888;
    cursor: pointer;
  }

  @include tablet {
    font-size: 0.875rem;
  }
}
