*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1rem;
  font-family: sans-serif;
}

ul,
ol,
li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

input,
textarea,
select {
  font: inherit;
  border-style: none;
  resize: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("../../assets/fonts/IBMPlexMono-Regular.woff2") format("woff2"), url("../../assets/fonts/IBMPlexMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IBM Plex Mono";
  src: url("IBMPlexMono-Bold.woff2") format("woff2"), url("IBMPlexMono-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IBM Plex Mono";
  src: url("IBMPlexMono-Italic.woff2") format("woff2"), url("IBMPlexMono-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "IBM Plex Mono";
  src: url("IBMPlexMono-ExtraLight.woff2") format("woff2"), url("IBMPlexMono-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IBM Plex Mono";
  src: url("IBMPlexMono-BoldItalic.woff2") format("woff2"), url("IBMPlexMono-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "IBM Plex Mono";
  src: url("IBMPlexMono-ExtraLightItalic.woff2") format("woff2"), url("IBMPlexMono-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "IBM Plex Mono";
  src: url("IBMPlexMono-Medium.woff2") format("woff2"), url("IBMPlexMono-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IBM Plex Mono";
  src: url("IBMPlexMono-LightItalic.woff2") format("woff2"), url("IBMPlexMono-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "IBM Plex Mono";
  src: url("IBMPlexMono-Light.woff2") format("woff2"), url("IBMPlexMono-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IBM Plex Mono";
  src: url("IBMPlexMono-MediumItalic.woff2") format("woff2"), url("IBMPlexMono-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "IBM Plex Mono";
  src: url("IBMPlexMono-SemiBold.woff2") format("woff2"), url("IBMPlexMono-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IBM Plex Mono";
  src: url("IBMPlexMono-ThinItalic.woff2") format("woff2"), url("IBMPlexMono-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "IBM Plex Mono";
  src: url("IBMPlexMono-SemiBoldItalic.woff2") format("woff2"), url("IBMPlexMono-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "IBM Plex Mono";
  src: url("IBMPlexMono-Thin.woff2") format("woff2"), url("IBMPlexMono-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  font-weight: 200;
  src: url("../../assets/fonts/poppins-extralight-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-extralight-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 200;
  font-style: italic;
  src: url("../../assets/fonts/poppins-extralightitalic-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-extralightitalic-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 300;
  src: url("../../assets/fonts/poppins-light-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-light-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 300;
  font-style: italic;
  src: url("../../assets/fonts/poppins-lightitalic-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-lightitalic-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("../../assets/fonts/poppins-black-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-black-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: italic;
  src: url("../../assets/fonts/poppins-italic-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-italic-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url("../../assets/fonts/poppins-medium-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-medium-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: italic;
  src: url("../../assets/fonts/poppins-mediumitalic-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-mediumitalic-webfont.woff") format("woff");
}
@font-face {
  font-family: "Lexend";
  src: url("../../assets/fonts/Lexend-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: #c44d00;
  color: #fffaed;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30vh;
}
.header__title a {
  text-decoration: none;
  color: inherit;
  font-size: 3rem;
  font-weight: 500;
}
.header__nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.header__tagline {
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.hero__intro {
  padding-top: 2rem;
  max-width: 25rem;
  margin: 0rem auto;
  line-height: 1.6;
  text-align: justify;
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 300;
}/*# sourceMappingURL=landing.css.map */