*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1rem;
  font-family: sans-serif;
}

ul,
ol,
li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

input,
textarea,
select {
  font: inherit;
  border-style: none;
  resize: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "Poppins";
  font-weight: 200;
  src: url("../../assets/fonts/poppins-extralight-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-extralight-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 200;
  font-style: italic;
  src: url("../../assets/fonts/poppins-extralightitalic-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-extralightitalic-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 300;
  src: url("../../assets/fonts/poppins-light-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-light-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 300;
  font-style: italic;
  src: url("../../assets/fonts/poppins-lightitalic-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-lightitalic-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("../../assets/fonts/poppins-black-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-black-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: italic;
  src: url("../../assets/fonts/poppins-italic-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-italic-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url("../../assets/fonts/poppins-medium-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-medium-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: italic;
  src: url("../../assets/fonts/poppins-mediumitalic-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-mediumitalic-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url("../../assets/fonts/poppins-bold-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-bold-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-style: italic;
  src: url("../../assets/fonts/poppins-bolditalic-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-bolditalic-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 800;
  src: url("../../assets/fonts/poppins-extrabold-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-extrabold-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 900;
  src: url("../../assets/fonts/poppins-black-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-black-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 900;
  font-style: italic;
  src: url("../../assets/fonts/poppins-blackitalic-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-blackitalic-webfont.woff") format("woff");
}
@font-face {
  font-family: "Inter18pt";
  font-weight: 400;
  src: url("../../assets/fonts/Inter18pt-Regular.woff2") format("woff2");
  src: url("../../assets/fonts/Inter18pt-Regular.woff") format("woff");
}
@font-face {
  font-family: "Inter18pt";
  font-weight: 300;
  src: url("../../assets/fonts/Inter18pt-Light.woff2") format("woff2");
  src: url("../../assets/fonts/Inter18pt-Light.woff") format("woff");
}
@font-face {
  font-family: "Inter18pt";
  font-weight: 800;
  src: url("../../assets/fonts/Inter18pt-ExtraBold.woff2") format("woff2");
  src: url("../../assets/fonts/Inter18pt-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Inter24pt";
  font-weight: 400;
  src: url("../../assets/fonts/Inter24pt-Regular.woff2") format("woff2");
  src: url("../../assets/fonts/Inter24pt-Regular.woff") format("woff");
}
@font-face {
  font-family: "Inter24pt";
  font-weight: 300;
  src: url("../../assets/fonts/Inter24pt-Light.woff2") format("woff2");
  src: url("../../assets/fonts/Inter24pt-Light.woff") format("woff");
}
@font-face {
  font-family: "Inter24pt";
  font-weight: 800;
  src: url("../../assets/fonts/Inter24pt-ExtraBold.woff2") format("woff2");
  src: url("../../assets/fonts/Inter24pt-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Inter28pt";
  font-weight: 400;
  src: url("../../assets/fonts/Inter28pt-Regular.woff2") format("woff2");
  src: url("../../assets/fonts/Inter28pt-Regular.woff") format("woff");
}
@font-face {
  font-family: "Inter28pt";
  font-weight: 300;
  src: url("../../assets/fonts/Inter28pt-Light.woff2") format("woff2");
  src: url("../../assets/fonts/Inter28pt-Light.woff") format("woff");
}
@font-face {
  font-family: "Inter28pt";
  font-weight: 800;
  src: url("../../assets/fonts/Inter28pt-ExtraBold.woff2") format("woff2");
  src: url("../../assets/fonts/Inter28pt-ExtraBold.woff") format("woff");
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: #fefefc;
  color: #0c0c0c;
}

a {
  text-decoration: none;
  color: #0c0c0c;
}

a:hover {
  color: #e35b00;
}

.header {
  padding: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.header__content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header__title {
  font-style: "Poppins", sans-serif;
  font-weight: 300;
  /*     margin-bottom: 2rem; */
}
.header__nav {
  display: flex;
  gap: 4rem;
  /*  margin-bottom: 2rem; */
}
.header__link {
  margin-top: 0.5rem;
  font-style: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}
.header__CVbtn {
  font-style: "Poppins", sans-serif;
  font-weight: 300;
  color: #fefefc;
  background-color: #e35b00;
  border: solid 1px #e35b00;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease;
  cursor: pointer;
}
.header__CVbtn:hover {
  transform: scale(1.05);
  color: #e35b00;
  background-color: #fff;
}
.header__CVbtn.active {
  color: #e35b00;
  background-color: #fff;
}

.hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem;
  /*   &__section {
    margin-bottom: 6rem;
  } */
}
.hero__intro {
  font-weight: 500;
  font-size: 1.2rem;
  /*     padding-top: 4rem; */
  text-align: left;
}

.casestudies {
  max-width: 1050px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}
.casestudies__preview {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.casestudies__preview:hover::after {
  opacity: 0.3;
  color: #e35b00;
}
.casestudies__preview:hover {
  transform: scale(1.02);
  color: #e35b00;
}
.casestudies__preview-link {
  flex: 0 0 calc(50% - 1rem);
  max-width: calc(50% - 1rem);
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}
@media (max-width: 600px) {
  .casestudies__preview-link {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.casestudies__img, .casestudies__img-ubc {
  width: 100%;
  height: 15rem;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}
.casestudies__img-ubc {
  -o-object-position: 10% center;
     object-position: 10% center;
}
.casestudies__text-container {
  padding: 0.5rem;
  position: relative;
  z-index: 2;
}
.casestudies__title {
  margin-top: 1rem;
  margin-bottom: 0.6rem;
}

.contact,
.other {
  max-width: 700px;
  margin-left: 2rem;
  margin-top: 2rem;
}

footer {
  text-align: center;
  padding: 2rem;
  font-size: 0.875rem;
  color: #888;
  font-weight: 400;
}/*# sourceMappingURL=styles.css.map */