*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1rem;
  font-family: sans-serif;
}

ul,
ol,
li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

input,
textarea,
select {
  font: inherit;
  border-style: none;
  resize: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "Poppins";
  font-weight: 200;
  src: url("../../assets/fonts/poppins-extralight-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-extralight-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 200;
  font-style: italic;
  src: url("../../assets/fonts/poppins-extralightitalic-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-extralightitalic-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 300;
  src: url("../../assets/fonts/poppins-light-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-light-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 300;
  font-style: italic;
  src: url("../../assets/fonts/poppins-lightitalic-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-lightitalic-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("../../assets/fonts/poppins-black-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-black-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: italic;
  src: url("../../assets/fonts/poppins-italic-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-italic-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url("../../assets/fonts/poppins-medium-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-medium-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: italic;
  src: url("../../assets/fonts/poppins-mediumitalic-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-mediumitalic-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url("../../assets/fonts/poppins-bold-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-bold-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-style: italic;
  src: url("../../assets/fonts/poppins-bolditalic-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-bolditalic-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 800;
  src: url("../../assets/fonts/poppins-extrabold-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-extrabold-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 900;
  src: url("../../assets/fonts/poppins-black-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-black-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 900;
  font-style: italic;
  src: url("../../assets/fonts/poppins-blackitalic-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-blackitalic-webfont.woff") format("woff");
}
@font-face {
  font-family: "Inter18pt";
  font-weight: 400;
  src: url("../../assets/fonts/Inter18pt-Regular.woff2") format("woff2");
  src: url("../../assets/fonts/Inter18pt-Regular.woff") format("woff");
}
@font-face {
  font-family: "Inter18pt";
  font-weight: 300;
  src: url("../../assets/fonts/Inter18pt-Light.woff2") format("woff2");
  src: url("../../assets/fonts/Inter18pt-Light.woff") format("woff");
}
@font-face {
  font-family: "Inter18pt";
  font-weight: 800;
  src: url("../../assets/fonts/Inter18pt-ExtraBold.woff2") format("woff2");
  src: url("../../assets/fonts/Inter18pt-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Inter24pt";
  font-weight: 400;
  src: url("../../assets/fonts/Inter24pt-Regular.woff2") format("woff2");
  src: url("../../assets/fonts/Inter24pt-Regular.woff") format("woff");
}
@font-face {
  font-family: "Inter24pt";
  font-weight: 300;
  src: url("../../assets/fonts/Inter24pt-Light.woff2") format("woff2");
  src: url("../../assets/fonts/Inter24pt-Light.woff") format("woff");
}
@font-face {
  font-family: "Inter24pt";
  font-weight: 800;
  src: url("../../assets/fonts/Inter24pt-ExtraBold.woff2") format("woff2");
  src: url("../../assets/fonts/Inter24pt-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Inter28pt";
  font-weight: 400;
  src: url("../../assets/fonts/Inter28pt-Regular.woff2") format("woff2");
  src: url("../../assets/fonts/Inter28pt-Regular.woff") format("woff");
}
@font-face {
  font-family: "Inter28pt";
  font-weight: 300;
  src: url("../../assets/fonts/Inter28pt-Light.woff2") format("woff2");
  src: url("../../assets/fonts/Inter28pt-Light.woff") format("woff");
}
@font-face {
  font-family: "Inter28pt";
  font-weight: 800;
  src: url("../../assets/fonts/Inter28pt-ExtraBold.woff2") format("woff2");
  src: url("../../assets/fonts/Inter28pt-ExtraBold.woff") format("woff");
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: #fefefc;
  color: #0c0c0c;
}

a {
  text-decoration: none;
  color: #0c0c0c;
}

a:hover {
  color: #e35b00;
}

.header {
  padding: 2rem;
}
.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}
.header__title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #e35b00;
}
.header__nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
.header__link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
.header__cv-btn {
  color: #fefefc;
  background-color: #e35b00;
  border: solid 2px #e35b00;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease;
  cursor: pointer;
}
.header__cv-btn:hover {
  transform: scale(1.05);
  color: #e35b00;
  background-color: #fefefc;
}
.header__cv-btn.active {
  color: #e35b00;
  background-color: #fefefc;
}
@media screen and (min-width: 768px) {
  .header {
    /*     padding-top: 3rem;
    padding-bottom: 8rem; */
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 1rem;
  }
  .header__content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header__link {
    font-size: 1.2rem;
  }
  .header__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}

.hero {
  max-width: 1200px;
  margin: 0 auto;
  font-size: 1rem;
  padding: 2rem;
}
.hero__intro {
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 100;
  text-align: left;
  padding-bottom: 2rem;
  color: #707070;
  /*     opacity: 0;
  transform: translateY(10px);
  animation: fadeUp 1.5s ease forwards 1.2s;
  @keyframes fadeUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  } */
}
.hero__section {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row-reverse;
}
@media screen and (min-width: 768px) {
  .hero__intro {
    font-size: 1rem;
    padding-bottom: 4rem;
    text-align: left;
    max-width: 25rem;
  }
  .hero__container {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
  }
}

.casestudies {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}
.casestudies__preview-link {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
}
.casestudies__preview {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
  z-index: 0;
}
.casestudies__preview:hover {
  transform: translateY(-4px);
  z-index: 2;
}
.casestudies__preview:hover .casestudies__img-hover {
  opacity: 1;
}
.casestudies__preview:hover .casestudies__img, .casestudies__preview:hover .casestudies__img-ubc {
  opacity: 0;
}
.casestudies__img, .casestudies__img-ubc, .casestudies__img-code, .casestudies__img-hover {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
  border: solid 2px black;
  display: block;
  transition: opacity 0.4s ease;
}
.casestudies__img-ubc {
  -o-object-position: 5% center;
     object-position: 5% center;
}
.casestudies__img-hover {
  position: absolute;
  inset: 0;
  opacity: 0;
  z-index: 1;
  border: solid 2px #e35b00;
}
.casestudies__text-container {
  position: relative;
  z-index: 3;
  padding: 0.5rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.casestudies__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}
.casestudies__subtitle {
  font-size: 1rem;
  opacity: 0.7;
}
@media screen and (min-width: 768px) {
  .casestudies {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2.5rem;
    padding: 0rem;
  }
  .casestudies__preview-link {
    flex: 0 0 calc(50% - 1.5rem);
  }
}

footer {
  text-align: center;
  padding: 6rem 2rem 2rem 2rem;
  font-size: 0.875rem;
  color: #888;
  font-weight: 400;
  max-width: 17rem;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  footer {
    margin: 0 auto;
    max-width: none;
  }
}/*# sourceMappingURL=styles.css.map */