@use "./partials/resets" as *;
@use "./partials/variables" as *;
@use "./partials/fonts" as *;
@use "./partials/mixins" as *;
@use "sass:map";

body {
  font-family: $font-secondary;
  font-weight: map.get($font-secondary-weights, regular);
  background-color: #3f612d;
  color: $orange;
}

a {
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline white;
  /*   transform: scale(1.4); */
}

.header {
  padding: 1.5rem;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }

  &__title {
    font-family: $font-primary;
    font-weight: map.get($font-primary-weights, light);
    margin: 0;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    /*     font-size: 1.5rem; */
  }

  &__link {
    font-family: $font-secondary;
    font-weight: map.get($font-secondary-weights, regular);
    font-size: 1rem;
  }

  &__cv-btn {
    font-family: $font-secondary;
    font-weight: map.get($font-secondary-weights, medium);
    color: $bg-color;
    background-color: $orange;
    border: solid 1px $orange;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
      color: $orange;
      background-color: $bg-color;
    }
    &.active {
      color: $orange;
      background-color: $bg-color;
    }
  }

  @include tablet {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 1rem;

    &__content {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &__link {
      font-size: 1.2rem;
    }

    &__nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 3rem;
    }
  }
}

.main {
  &__body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }
}

footer {
  text-align: center;
  padding: 6rem 2rem 2rem 2rem;
  font-size: 0.875rem;
  color: white;
  font-weight: map.get($font-secondary-weights, regular);
}
