*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1rem;
  font-family: sans-serif;
}

ul,
ol,
li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

input,
textarea,
select {
  font: inherit;
  border-style: none;
  resize: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "Poppins";
  font-weight: 200;
  src: url("../../assets/fonts/poppins-extralight-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-extralight-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 200;
  font-style: italic;
  src: url("../../assets/fonts/poppins-extralightitalic-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-extralightitalic-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 300;
  src: url("../../assets/fonts/poppins-light-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-light-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 300;
  font-style: italic;
  src: url("../../assets/fonts/poppins-lightitalic-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-lightitalic-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("../../assets/fonts/poppins-black-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-black-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: italic;
  src: url("../../assets/fonts/poppins-italic-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-italic-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url("../../assets/fonts/poppins-medium-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-medium-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: italic;
  src: url("../../assets/fonts/poppins-mediumitalic-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-mediumitalic-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url("../../assets/fonts/poppins-bold-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-bold-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-style: italic;
  src: url("../../assets/fonts/poppins-bolditalic-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-bolditalic-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 800;
  src: url("../../assets/fonts/poppins-extrabold-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-extrabold-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 900;
  src: url("../../assets/fonts/poppins-black-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-black-webfont.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-weight: 900;
  font-style: italic;
  src: url("../../assets/fonts/poppins-blackitalic-webfont.woff2") format("woff2");
  src: url("../../assets/fonts/poppins-blackitalic-webfont.woff") format("woff");
}
@font-face {
  font-family: "Inter18pt";
  font-weight: 400;
  src: url("../../assets/fonts/Inter18pt-Regular.woff2") format("woff2");
  src: url("../../assets/fonts/Inter18pt-Regular.woff") format("woff");
}
@font-face {
  font-family: "Inter18pt";
  font-weight: 300;
  src: url("../../assets/fonts/Inter18pt-Light.woff2") format("woff2");
  src: url("../../assets/fonts/Inter18pt-Light.woff") format("woff");
}
@font-face {
  font-family: "Inter18pt";
  font-weight: 800;
  src: url("../../assets/fonts/Inter18pt-ExtraBold.woff2") format("woff2");
  src: url("../../assets/fonts/Inter18pt-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Inter24pt";
  font-weight: 400;
  src: url("../../assets/fonts/Inter24pt-Regular.woff2") format("woff2");
  src: url("../../assets/fonts/Inter24pt-Regular.woff") format("woff");
}
@font-face {
  font-family: "Inter24pt";
  font-weight: 300;
  src: url("../../assets/fonts/Inter24pt-Light.woff2") format("woff2");
  src: url("../../assets/fonts/Inter24pt-Light.woff") format("woff");
}
@font-face {
  font-family: "Inter24pt";
  font-weight: 800;
  src: url("../../assets/fonts/Inter24pt-ExtraBold.woff2") format("woff2");
  src: url("../../assets/fonts/Inter24pt-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Inter28pt";
  font-weight: 400;
  src: url("../../assets/fonts/Inter28pt-Regular.woff2") format("woff2");
  src: url("../../assets/fonts/Inter28pt-Regular.woff") format("woff");
}
@font-face {
  font-family: "Inter28pt";
  font-weight: 300;
  src: url("../../assets/fonts/Inter28pt-Light.woff2") format("woff2");
  src: url("../../assets/fonts/Inter28pt-Light.woff") format("woff");
}
@font-face {
  font-family: "Inter28pt";
  font-weight: 800;
  src: url("../../assets/fonts/Inter28pt-ExtraBold.woff2") format("woff2");
  src: url("../../assets/fonts/Inter28pt-ExtraBold.woff") format("woff");
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: #fefefc;
  color: #0c0c0c;
}

a {
  text-decoration: none;
  color: #0c0c0c;
}

a:hover {
  color: #e35b00;
}

.header {
  padding: 1.5rem 0rem 1.5rem 1.5rem;
}
.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}
.header__title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin: 0;
  color: #e35b00;
}
.header__nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  /*     font-size: 1.5rem; */
}
.header__link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
.header__cv-btn {
  font-family: "Inter", sans-serif;
  color: #fefefc;
  background-color: #e35b00;
  border: solid 2px #e35b00;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease;
  cursor: pointer;
}
.header__cv-btn:hover {
  transform: scale(1.05);
  color: #e35b00;
  background-color: #fefefc;
}
.header__cv-btn.active {
  color: #e35b00;
  background-color: #fefefc;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 1rem;
  }
  .header__content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header__link {
    font-size: 1.2rem;
  }
  .header__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}

/* .h2 {
  padding-bottom: 2rem;
}

.p {
  padding-bottom: 2rem;
} */
.teaching {
  max-width: 1200px;
  margin: 0 auto;
  border: solid;
  border-radius: 1rem;
  line-height: 1.5rem;
}
.teaching__intro {
  padding: 1rem 1rem 1rem 2rem;
  border-bottom: solid;
}
.teaching__example-last {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  align-items: stretch;
}
.teaching__example {
  border-bottom: solid;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  align-items: stretch;
  /*
        &:hover {
          transform: rotateY(180deg);
        }
  &__img-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.8s;
        transform-style: preserve-3d;

        &:hover {
          transform: rotateY(180deg);
        }
      }

      &__img-front,
      &__img-back,
      &__img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: solid;
        border-radius: 1rem;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }

      &__img-back {
        background-color: grey;
        transform: rotateY(180deg);
      }
    } */
}
.teaching__example__header {
  padding-bottom: 1rem;
}
.teaching__example__text {
  padding: 1rem 2rem;
  box-sizing: border-box;
  align-items: stretch;
}
.teaching__example__courselist, .teaching__example__body {
  padding-top: 0.5rem;
}
.teaching__example__postsec {
  padding-top: 1rem;
}
.teaching__example__img-container {
  flex: 0 0 40%;
  border-right: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0.3rem;
}
.teaching__example__img, .teaching__example__img-uni {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: solid;
  /*     border-radius: 1rem; */
}
.teaching__example__img-uni {
  -o-object-position: 65% center;
     object-position: 65% center;
}
.teaching__example__img-last {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: solid;
  border-bottom-left-radius: 1rem;
}

footer {
  text-align: center;
  padding: 6rem 2rem 2rem 2rem;
  font-size: 0.875rem;
  color: grey;
  font-weight: 400;
}/*# sourceMappingURL=teaching.css.map */