@use "./partials/resets" as *;
@use "./partials/variables" as *;
@use "./partials/fonts" as *;
@use "./partials/mixins" as *;
@use "sass:map";

body {
  font-family: $font-secondary;
  font-weight: map.get($font-secondary-weights, regular);
  background-color: $bg-color;
  color: $black;
}

a {
  text-decoration: none;
  color: $black;
}

a:hover {
  color: $orange;
}

.header {
  padding: 1.5rem 0rem 1.5rem 1.5rem;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }

  &__title {
    font-family: $font-primary;
    font-weight: map.get($font-primary-weights, medium);
    margin: 0;
    color: $orange;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    /*     font-size: 1.5rem; */
  }

  &__link {
    font-family: $font-secondary;
    font-weight: map.get($font-secondary-weights, regular);
    font-size: 1rem;
  }

  &__cv-btn {
    font-family: $font-secondary;
    font-weight: map.get($font-secondary-weights, medium);
    color: $bg-color;
    background-color: $orange;
    border: solid 2px $orange;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
      color: $orange;
      background-color: $bg-color;
    }
    &.active {
      color: $orange;
      background-color: $bg-color;
    }
  }

  @include tablet {
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 1rem;

    &__content {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &__link {
      font-size: 1.2rem;
    }

    &__nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 3rem;
    }
  }
}

/* .h2 {
  padding-bottom: 2rem;
}

.p {
  padding-bottom: 2rem;
} */

.teaching {
  max-width: 1200px;
  margin: 0 auto;
  border: solid;
  border-radius: 1rem;
  line-height: 1.5rem;

  &__intro {
    padding: 1rem 1rem 1rem 2rem;
    border-bottom: solid;
  }

  &__example-last {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    align-items: stretch;
  }
  &__example {
    border-bottom: solid;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    align-items: stretch;

    &__header {
      padding-bottom: 1rem;
    }

    &__text {
      padding: 1rem 2rem;
      box-sizing: border-box;
      align-items: stretch;
    }

    &__courselist,
    &__body {
      padding-top: 0.5rem;
    }

    &__postsec {
      padding-top: 1rem;
    }

    &__img-container {
      flex: 0 0 40%;
      border-right: solid;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      padding: 0.3rem;
    }

    &__img,
    &__img-uni {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: solid;
      /*     border-radius: 1rem; */
    }
    &__img-uni {
      object-position: 65% center;
    }

    &__img-last {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: solid;
      border-bottom-left-radius: 1rem;
    }

    /*
      &:hover {
        transform: rotateY(180deg);
      }
&__img-inner {
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 0.8s;
      transform-style: preserve-3d;

      &:hover {
        transform: rotateY(180deg);
      }
    }

    &__img-front,
    &__img-back,
    &__img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: solid;
      border-radius: 1rem;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    &__img-back {
      background-color: grey;
      transform: rotateY(180deg);
    }
  } */
  }
}

footer {
  text-align: center;
  padding: 6rem 2rem 2rem 2rem;
  font-size: 0.875rem;
  color: grey;
  font-weight: map.get($font-secondary-weights, regular);
}
