@use "./partials/resets" as *;
@use "./partials/variables" as *;
@use "./partials/fonts" as *;
@use "./partials/mixins" as *;
@use "sass:map";

body {
  font-family: $font-secondary;
  font-weight: map.get($font-secondary-weights, regular);
  background-color: $bg-color;
  color: $black;
}

a {
  text-decoration: none;
  color: $black;
}

a:hover {
  color: $orange;
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;

  &__img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
  }
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #e35b00; /* Set a background color */
  opacity: 100%;
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  /*   background-color: #555; */
  opacity: 100%;
}

.header {
  padding: 1.5rem;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }

  &__title {
    font-family: $font-primary;
    font-weight: map.get($font-primary-weights, light);
    margin: 0;
    color: $orange;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    /*     font-size: 1.5rem; */
  }

  &__link {
    font-family: $font-secondary;
    font-weight: map.get($font-secondary-weights, regular);
    font-size: 1rem;
  }

  &__cv-btn {
    font-family: $font-secondary;
    font-weight: map.get($font-secondary-weights, medium);
    color: $bg-color;
    background-color: $orange;
    border: solid 1px $orange;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
      color: $orange;
      background-color: $bg-color;
    }
    &.active {
      color: $orange;
      background-color: $bg-color;
    }
  }

  @include tablet {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 1rem;

    &__content {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &__link {
      font-size: 1.2rem;
    }

    &__nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 3rem;
    }
  }
}

.hero {
  max-width: 100%;
  padding: 1.5rem;

  &__intro-text-container {
    /*     max-width: 1050px;
    margin: 0 auto;
    padding: 2rem;
    margin-bottom: 6rem;
    margin-top: 10rem; */
    margin: 4rem auto 3rem auto;
    text-align: left;
  }

  &__title {
    /*     font-size: 2.5rem;
    font-weight: 700; */
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
  }

  &__subtitle {
    /*     font-size: 28px;
    margin-top: 1rem;
    margin-bottom: 1rem; */
    font-size: 1.25rem;

    margin-top: 0.75rem;
    margin-bottom: 1rem;
  }

  &__outcomes_title {
    font-size: 1.75rem;
    font-weight: 600;
  }

  &__img {
    /*     width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
    border-radius: 0.5rem; */
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 0.5rem;
  }

  &__context {
    /*     font-size: 0.8rem;
    font-weight: 700;
    color: #7f8380;
    letter-spacing: 0.08rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem; */
    font-size: 0.75rem;
    font-weight: 600;
    color: #7f8380;
    letter-spacing: 0.08rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  &__context-megawrapper {
    /*     max-width: 1050px;
    margin: 0 auto;
    padding: 2rem;
    margin-top: 2rem; */
    margin: 2rem auto;
    padding-top: 2rem;
    max-width: 100%;
  }

  &__context-wrapper {
    /*     margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
    gap: 0 4rem;
    flex-wrap: wrap;
    max-width: 1050px;
    margin: 0 auto; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
  }

  &__container {
    flex: 1 1 100%;
    min-width: 0;
  }

  /*   &__intro {
    margin-bottom: 2rem;
    font-size: 20px;
  } */

  &__deliverables {
    /*     display: flex;
    gap: 1rem;
    font-size: 0.75rem;
    margin-bottom: 4rem;
    font-weight: 700; */
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    font-size: 0.75rem;
    margin-bottom: 2rem;
    font-weight: 700;

    &_btn {
      background-color: #3a4f41;
      color: #fff;
      width: fit-content;
      border-radius: 1.3rem;
      padding: 1rem;
    }
  }

  &__outcomes {
    margin: 2rem auto;
    padding: 1.5rem;
    font-size: 1rem;

    &_li {
      line-height: 1.3rem;
      margin-bottom: 1rem;
      list-style-type: "✱ ";
    }
  }

  @media (min-width: 768px) {
    max-width: 1200px;
    margin: 0 auto;

    &__intro-text-container {
      margin-top: 8rem;
      margin-bottom: 6rem;
    }

    &__title {
      font-size: 3rem;
    }

    &__subtitle {
      font-size: 1.75rem;
    }

    &__intro {
      font-size: 1.25rem;
    }
    /* 
    &__context-megawrapper {
      max-width: 1050px;
      margin: 0 auto;
      padding: 2rem;
      margin-top: 2rem;
    } */

    &__context-wrapper {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 0 4rem;
    }

    &__container {
      flex: 1 1 40%;
      min-width: 18.75rem;
    }

    &__outcomes {
      font-size: 1.25rem;
      padding: 2rem;
    }
  }
}

.final-design {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;

  &__title {
    font-size: 1.75rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__img {
    width: 100%;
    height: 40rem;
    display: block;
    object-fit: cover;
    border-radius: 0.5rem;
  }

  &__img-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
  }

  &__intro-img {
    width: 45%;
    height: 10rem;
    object-fit: cover;
    object-position: 10% center;
    border-radius: 0.5rem;
  }

  &__body {
    margin-bottom: 4rem;
    line-height: 2rem;
    font-size: 20px;
  }

  &__co-img {
    width: 45%;
    height: 10rem;
    object-fit: cover;
    object-position: 10% center;
    border-radius: 0.5rem;
    cursor: zoom-in;
  }
}

footer {
  text-align: center;
  padding: 2rem;
  font-size: 0.875rem;
  color: #888;
}

.accordion__item {
  border-bottom: 1px solid #ccc;
}

.accordion__trigger {
  /*   background: none;
  border: none;
  padding: 1rem;
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-size: 28px; */
  /*     margin-top: 1rem;
    margin-bottom: 1rem; */
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: inherit;
  font-size: 1.1rem;

  cursor: pointer;
  transition: color 0.2s ease;
}

.accordion__icon {
  /*   margin-left: 0.5rem; */
  float: right;
  transition: transform 0.3s ease;
}

.accordion__line {
  stroke: currentColor;
  stroke-width: 2;
  transition: transform 0.3s ease;
  transform-origin: center;
}

.accordion__trigger[aria-expanded="true"] .accordion__line--horizontal {
  transform: rotate(45deg);
}
.accordion__trigger[aria-expanded="true"] .accordion__line--vertical {
  transform: rotate(45deg);
}

.accordion__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 1rem;
}

.accordion__item--active .accordion__content {
  padding: 1rem;
  max-height: 1000px;
}

.accordion__title {
  /*   line-height: 2rem; */
  font-size: 20px;
}
.accordion__body {
  /*   line-height: 2rem; */
  font-size: 20px;
}

.accordion__text,
.accordion__list,
.accordion__image {
  margin: 0.5rem 0;
}

.accordion__list {
  padding-left: 1.25rem;
  font-size: 20px;
}

.accordion__li {
  line-height: 1.3rem;
  margin-bottom: 1rem;
  list-style-type: "✱ ";
}

.accordion__outcomes-container,
.accordion__approaches-container,
.accordion__objectives-container,
.accordion__results-container {
  padding: 2rem 0 0 0;
}
