@charset "UTF-8";
:root {
  --bg-color: #fdfdfd;
  --text-color: #1a1a1a;
  --accent-color: #161615;
  --font-body: "Helvetica Neue", sans-serif;
}

/* #FCEAC5 
 #fdf4eb
  --accent-color: #e35b00;
  "Helvetica Neue", "Montserrat"

*/
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: #1a1a1a;
}

a:hover {
  text-decoration: underline;
  color: #e35b00;
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}
.lightbox__img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}
.lightbox__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #e35b00; /* Set a background color */
  opacity: 100%;
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  /*   background-color: #555; */
  opacity: 100%;
}

.header {
  padding: 2rem;
}
.header__content {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  /*   font-size: 1.5rem;
  font-weight: 100; */
  margin-bottom: 2rem;
  color: #e35b00;
}
.header__title a {
  text-decoration: none;
  color: #e35b00;
}
.header__nav {
  display: flex;
  gap: 3rem;
  margin-bottom: 2rem;
}
.header__link {
  margin-top: 0.5rem;
}
.header__CVbtn {
  color: white;
  background-color: #e35b00;
  border: solid 1px #e35b00;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease;
  cursor: pointer;
}
.header__CVbtn:hover {
  transform: scale(1.05);
  color: #e35b00;
  background-color: #fff;
}
.header__CVbtn.active {
  color: #e35b00;
  background-color: #fff;
}

.hero {
  /*   max-width: 1050px;
  margin: 0 auto;
  padding: 2rem; */
}
.hero__intro-text-container {
  max-width: 1050px;
  margin: 0 auto;
  padding: 2rem;
  margin-bottom: 6rem;
  margin-top: 10rem;
}
.hero__title {
  font-size: 2.5rem;
  font-weight: 700;
}
.hero__subtitle, .hero__outcomes_title {
  font-size: 28px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.hero__img {
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 0.5rem;
}
.hero__context {
  font-size: 0.8rem;
  font-weight: 700;
  /*     color: #3a4f41; */
  /*     color: #8c9e92; */
  color: #7f8380;
  letter-spacing: 0.08rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.hero__context-megawrapper {
  max-width: 1050px;
  margin: 0 auto;
  padding: 2rem;
  margin-top: 2rem;
}
.hero__context-wrapper {
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
  gap: 0 4rem;
  flex-wrap: wrap;
  max-width: 1050px;
  margin: 0 auto;
}
.hero__container {
  flex: 1 1 40%;
  min-width: 18.75rem;
}
@media (max-width: 768px) {
  .hero__container {
    flex: 1 1 48%;
  }
}
.hero__intro {
  margin-bottom: 2rem;
  /*  line-height: 1.5rem; */
  font-size: 20px;
}
.hero__deliverables {
  display: flex;
  gap: 1rem;
  font-size: 0.75rem;
  margin-bottom: 4rem;
  font-weight: 700;
}
.hero__deliverables_btn {
  background-color: #3a4f41;
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 1.3rem;
  padding: 1rem;
}
.hero__outcomes {
  max-width: 1050px;
  margin: 0 auto;
  padding: 2rem;
  font-size: 20px;
}
.hero__outcomes_li {
  line-height: 1.3rem;
  margin-bottom: 1rem;
  list-style-type: "✱ ";
  margin-left: -1rem;
}

.final-design {
  max-width: 1050px;
  margin: 0 auto;
  padding: 2rem;
}
.final-design__title {
  font-size: 28px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.final-design__img {
  width: 100%;
  height: 40rem;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}
.final-design__img-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
}
.final-design__intro-img {
  width: 45%;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 10% center;
     object-position: 10% center;
  border-radius: 0.5rem;
}
.final-design__body {
  margin-bottom: 4rem;
  line-height: 2rem;
  font-size: 20px;
}
.final-design__co-img {
  width: 45%;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 10% center;
     object-position: 10% center;
  border-radius: 0.5rem;
  cursor: zoom-in;
}

footer {
  text-align: center;
  padding: 2rem;
  font-size: 0.875rem;
  color: #888;
}

.accordion__item {
  border-bottom: 1px solid #ccc;
}

.accordion__trigger {
  background: none;
  border: none;
  padding: 1rem;
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-size: 28px;
  /*     margin-top: 1rem;
    margin-bottom: 1rem; */
}

.accordion__icon {
  /*   margin-left: 0.5rem; */
  float: right;
  transition: transform 0.3s ease;
}

.accordion__line {
  stroke: currentColor;
  stroke-width: 2;
  transition: transform 0.3s ease;
  transform-origin: center;
}

.accordion__trigger[aria-expanded=true] .accordion__line--horizontal {
  transform: rotate(45deg);
}

.accordion__trigger[aria-expanded=true] .accordion__line--vertical {
  transform: rotate(45deg);
}

.accordion__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 1rem;
}

.accordion__item--active .accordion__content {
  padding: 1rem;
}

.accordion__title {
  /*   line-height: 2rem; */
  font-size: 20px;
}

.accordion__body {
  /*   line-height: 2rem; */
  font-size: 20px;
}

.accordion__text,
.accordion__list,
.accordion__image {
  margin: 0.5rem 0;
}

.accordion__list {
  padding-left: 1.25rem;
  font-size: 20px;
}

.accordion__li {
  line-height: 1.3rem;
  margin-bottom: 1rem;
  list-style-type: "✱ ";
}

.accordion__outcomes-container,
.accordion__approaches-container,
.accordion__objectives-container,
.accordion__results-container {
  padding: 2rem 0 0 0;
}/*# sourceMappingURL=ubc.css.map */