@use "partials/colors" as *;
@use "partials/variables" as *;
@use "partials/mixins" as *;

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: #1a1a1a;
}

a:hover {
  text-decoration: underline;
  color: var(--accent-color);
}

.header {
  padding: 2rem;

  &__content {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    /*   font-size: 1.5rem;
    font-weight: 100; */
    margin-bottom: 2rem;
    color: #e35b00;

    a {
      text-decoration: none;
      color: #e35b00;
    }
  }

  &__nav {
    display: flex;
    gap: 3rem;
    margin-bottom: 2rem;
  }

  &__link {
    margin-top: 0.5rem;
  }

  &__CVbtn {
    color: #ffff;
    background-color: #e35b00;
    border: solid 1px #e35b00;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
      color: #e35b00;
      background-color: #fff;
    }
    &.active {
      color: #e35b00;
      background-color: #fff;
    }
  }
}

.hero {
  max-width: 1050px;
  margin: 0 auto;
  padding: 2rem;

  &__title {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 2rem 0;
  }

  &__img {
    width: 100%;
    height: 40rem;
    display: block;
    object-fit: cover;
    border-radius: 0.5rem;
  }

  &__context,
  &__outcomes_title {
    font-size: 0.8rem;
    font-weight: 700;
    /*     color: #3a4f41; */
    /*     color: #8c9e92; */
    color: var(--accent-color);
    letter-spacing: 0.08rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  &__context-wrapper {
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
    gap: 0 4rem;
    flex-wrap: wrap;
  }

  &__container {
    flex: 1 1 40%;
    min-width: 18.75rem;

    @media (max-width: 768px) {
      flex: 1 1 48%;
    }
  }

  &__intro {
    margin-bottom: 2rem;
    line-height: 1.5rem;
    /*    font-size: 1.3em; */
  }

  &__deliverables {
    display: flex;
    gap: 1rem;
    font-size: 0.75rem;
    margin-bottom: 4rem;
    font-weight: 700;

    &_btn {
      background-color: #3a4f41;
      color: #fff;
      width: fit-content;
      border-radius: 1.3rem;
      padding: 1rem;
    }
  }

  &__outcomes {
    &_li {
      line-height: 1.3rem;
      margin-bottom: 1rem;
    }
  }
}

.final-design {
  max-width: 1050px;
  margin: 0 auto;
  padding: 2rem;

  &__title {
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--accent-color);
    letter-spacing: 0.08rem;
    margin-bottom: 0.5rem;
  }

  &__img {
    width: 100%;
    height: 40rem;
    display: block;
    object-fit: cover;
    border-radius: 0.5rem;
  }

  &__img-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
  }

  &__intro-img {
    width: 45%;
    height: 10rem;
    object-fit: cover;
    object-position: 10% center;
    border-radius: 0.5rem;
  }

  &__body {
    margin-bottom: 4rem;
    line-height: 1.5rem;
  }
}
