@use "./partials/resets" as *;
@use "./partials/variables" as *;
@use "./partials/fonts" as *;
@use "./partials/mixins" as *;
@use "sass:map";

body {
  font-family: $font-secondary;
  font-weight: map.get($font-secondary-weights, 400);
  background-color: $bg-color;
  color: $black;
}

a {
  text-decoration: none;
  color: $black;
}

a:hover {
  color: $orange;
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;

  &__img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
  }
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: $orange; /* Set a background color */
  opacity: 100%;
  color: $bg-color; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 0.5rem 1rem; /* Some padding */
  border-radius: 1rem; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}
#myBtn:hover {
  opacity: 100%;
}

.header {
  padding: 1.5rem 0rem 1.5rem 1.5rem;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }

  &__title {
    font-family: $font-primary;
    font-weight: map.get($font-primary-weights, medium);
    margin: 0;
    color: $orange;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    /*     font-size: 1.5rem; */
  }

  &__link {
    font-family: $font-secondary;
    font-weight: map.get($font-secondary-weights, regular);
    font-size: 1rem;
  }

  &__cv-btn {
    font-family: $font-secondary;
    font-weight: map.get($font-secondary-weights, medium);
    color: $bg-color;
    background-color: $orange;
    border: solid 2px $orange;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
      color: $orange;
      background-color: $bg-color;
    }
    &.active {
      color: $orange;
      background-color: $bg-color;
    }
  }

  @include tablet {
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 1rem;

    &__content {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &__link {
      font-size: 1.2rem;
    }

    &__nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 3rem;
    }
  }
}

.hero {
  max-width: 100%;
  padding: 1.5rem;

  &__tags-container {
    display: flex;
    gap: 2rem;
    padding-bottom: 2rem;
    opacity: 60%;
  }

  &__tag {
    background-color: $grey;
    width: max-content;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    color: $bg-color;
    font-size: 1rem;
  }

  &__intro-text-container {
    padding: 4rem auto 3rem auto;
    text-align: left;
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
  }

  &__subtitle {
    font-size: 1.25rem;
    margin-top: 0.75rem;
    margin-bottom: 1rem;
  }

  &__outcomes_title {
    font-size: 1.75rem;
    font-weight: 600;
  }

  &__img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border: 2px solid;
    border-radius: 1rem;
  }

  &__context {
    font-size: 0.75rem;
    font-weight: 600;
    color: #707070;
    letter-spacing: 0.08rem;
    margin-bottom: 0.5rem;
  }

  &__context-megawrapper {
    margin: 2rem auto;
    padding-top: 2rem;
    max-width: 100%;
  }

  &__context-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 1.5rem;
  }

  &__container {
    flex: 1 1 100%;
    min-width: 0;
  }

  &__deliverables {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    font-size: 0.75rem;
    margin-bottom: 2rem;
    font-weight: 700;

    &_btn {
      background-color: #3a4f41;
      color: #fff;
      width: fit-content;
      border-radius: 1.3rem;
      padding: 1rem;
    }
  }

  &__outcomes {
    margin: 2rem auto;
    padding: 1.5rem;
    font-size: 1rem;

    &_li {
      line-height: 1.3rem;
      margin-bottom: 1rem;
      list-style-type: "✱ ";
    }
  }

  @media (min-width: 768px) {
    max-width: 1200px;
    margin: 0 auto;

    &__intro-text-container {
      padding: 2rem 0rem 0rem 0rem;
    }

    &__tags-container {
      padding: 1rem 0 2rem 0;
    }

    &__title {
      font-size: 3rem;
    }

    &__subtitle {
      font-size: 1.75rem;
    }

    &__intro {
      font-size: 1.25rem;
    }

    &__context-wrapper {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 2rem 4rem;
    }

    &__container {
      flex: 1 1 40%;
      min-width: 18.75rem;
    }

    &__outcomes {
      font-size: 1.25rem;
      padding: 2rem;
    }
  }
}

.final-design {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;

  &__title {
    font-size: 1.75rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__body {
    margin-bottom: 4rem;
    line-height: 2rem;
    font-size: 1.25rem;
  }

  &__intro-img-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  &__intro-img {
    width: auto;
    height: 15rem;
    object-fit: contain;
    object-position: 10% center;
    border: 2px solid;
    border-radius: 1rem;
  }

  &__projects-container {
    padding-top: 4rem;
  }

  &__co-img {
    width: 45%;
    height: 10rem;
    object-fit: cover;
    object-position: 10% center;
    border: 2px solid;
    border-radius: 1rem;
    cursor: zoom-in;
  }
}

.accordion {
  padding-bottom: 8rem;

  //PROJECT WRAPPER DIV
  &__item {
    border-bottom: 2px solid #ccc;

    &.accordion__item--active .accordion__content {
      padding: 1rem;
      max-height: max-content;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__tag {
    background-color: $grey;
    width: max-content;
    padding: 0.5rem 0.75rem;
    border-radius: 1rem;
    color: $bg-color;
    font-size: 1rem;
    white-space: nowrap;
    opacity: 60%;
  }

  // BUTTON
  &__trigger {
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    cursor: pointer;
    transition: color 0.2s ease;

    &[aria-expanded="true"] {
      .accordion__line--vertical,
      .accordion__line--horizontal {
        transform: rotate(45deg);
      }
    }
  }

  // +
  &__icon {
    float: right;
    transition: transform 0.3s ease;
  }

  //LINE
  &__line {
    stroke: currentColor;
    stroke-width: 2;
    transition: transform 0.3s ease;
    transform-origin: center;
  }

  //ALL PROJECTS
  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 2rem;
  }

  //EACH PROJECT
  &__context-container,
  &__outcomes-container,
  &__approaches-container,
  &__objectives-container,
  &__results-container {
    padding: 1rem 0;
  }

  &__title {
    font-size: 0.75rem;
    font-weight: 600;
    color: #707070;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
  }

  &__body {
    font-size: 1.25rem;
  }

  &__list {
    padding-left: 1.25rem;
    font-size: 20px;
  }

  &__li {
    line-height: 1.3rem;
    margin-bottom: 1rem;
    list-style-type: "✱ ";
  }

  &__img-container {
    display: flex;
    gap: 2rem;
    padding: 2rem 0 1rem 0;
  }
}

footer {
  text-align: center;
  padding: 2rem;
  font-size: 0.875rem;
  color: #888;
}
