@use "partials/colors" as *;
@use "partials/variables" as *;
@use "partials/mixins" as *;

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: #1a1a1a;
  /*   font-size: 1rem;
  font-weight: 400; */
  transition: color 0.3s ease-in-out;
}

a:hover {
  text-decoration: underline;
  color: var(--accent-color);
}

hr {
  border: 1px solid #e35b00;
  margin: 0 auto;
  max-width: 1110px;

  flex-grow: 1;
}

.p {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 5px;
}

.header {
  padding: 2rem;

  &__content {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    /*   font-size: 1.5rem;
    font-weight: 100; */
    margin-bottom: 2rem;
    color: #e35b00;

    a {
      text-decoration: none;
      color: #e35b00;
    }
  }

  &__nav {
    display: flex;
    gap: 3rem;
    margin-bottom: 2rem;
  }

  &__link {
    margin-top: 0.5rem;
  }

  &__CVbtn {
    color: #ffff;
    background-color: #e35b00;
    border: solid 1px #e35b00;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
      color: #e35b00;
      background-color: #fff;
    }
    &.active {
      color: #e35b00;
      background-color: #fff;
    }
  }
}

main {
  max-width: 1050px;
  margin: 0 auto;
  padding: 2rem;
}

.skills {
  &__line-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__container {
    /*     border: 2px solid; */
    padding: 2rem;
  }

  /*   &__list-container {
    padding: none;
  }

  &__list-item {
    list-style-type: none;
  } */
}

.work {
  margin-top: 1rem;

  &__line-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  &__casestudy {
    flex: 1 1 calc(30% - 2rem);
    overflow: hidden;
  }

  &__casestudy-img {
    width: 100%;
    height: 15rem;
    border-radius: 10px;
    object-fit: cover;
  }

  &__img-coffee,
  &__img-microsoft,
  &__img {
    width: 100%;
    height: 15rem;
    display: block;
    object-fit: cover;
    border-radius: 10px;
  }

  &__img-coffee {
    object-position: 5% center;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
}

.contact {
  margin-top: 4rem;

  &__info {
    margin-left: 2rem;
  }

  &__line-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
  }

  &__title {
    white-space: nowrap;
    margin-bottom: 0rem;
  }

  &__icon-img {
    margin-top: 1rem;
    margin-right: 0.5rem;
    margin-left: 2rem;
    display: inline-block;
    vertical-align: middle;
    transition: fill 0.3s ease, transform 0.3s ease;

    &:hover {
      transform: translateY(-10px);
    }
  }

  &__icon-img-github {
    margin-top: 1rem;
    display: inline-block;
    vertical-align: middle;
    transform: translateY(8px);
    transition: fill 0.3s ease, transform 0.3s ease;

    &:hover {
      transform: translateY(6px);
    }
  }
}

footer {
  text-align: center;
  padding: 2rem;
  font-size: 0.875rem;
  color: #888;
}
